<div class="container" id="container">
	<div class="form-container sign-up-container">
		<div class="sign-up-form">
			<h1>Create Account</h1>
			<input type="text" [(ngModel)]="userInfo.name" placeholder="Name" />
			<input type="email" [(ngModel)]="userInfo.email"  placeholder="Email" />
			<input type="password" [(ngModel)]="userInfo.password"  placeholder="Password" />
			<button (click)="signUp()" >Sign Up</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button (click)=showLoginForm(true); class="ghost" id="signIn">Sign In</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Ahmed Saboor Khan</a>
	</p>
</footer>