<div class="form-container sign-up-container">
	<form class="sign-up-form" name="form" (ngSubmit)="f.form.valid && signUp()" #f="ngForm"
		[mustMatch]="['password', 'confirmPassword']" novalidate>
		<h1 class="h3 mb-3 fw-normal">Create Account</h1>
		<div class="form-group">
			<input type="text" name="Name" class="form-control" [(ngModel)]="userInfo.name" #name="ngModel"
				[ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Name" required />
			<div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
				<div *ngIf="name.errors.required">First Name is required</div>
			</div>
		</div>
		<div class="mb-3">
			<input type="email" name="Email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
				[(ngModel)]="userInfo.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
				placeholder="Email" required />
			<div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
				<div *ngIf="email.touched && email.errors.required">Email is required</div>
				<div *ngIf="email.touched && email.errors?.pattern">Email must be a valid email address</div>
			</div>
		</div>

		<div class="form-group">
			<input type="password" name="password" class="form-control" [(ngModel)]="userInfo.password"
				#password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6"
				placeholder="Password" />
			<div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
				<div *ngIf="password.errors.required">Password is required</div>
				<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
			</div>
		</div>

		<div class="form-group">
			<input type="password" name="confirmPassword" class="form-control" name="confirmPassword"
				[(ngModel)]="userInfo.confirmPassword" #confirmPassword="ngModel"
				[ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" minlength="6"
				placeholder="Password" required />
			<div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
				<div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
				<div *ngIf="confirmPassword.errors.mustMatch">Confirm Passwords must match</div>
			</div>
		</div>
		<div class="form-group">
			<button class="w-40 mr-3 btn btn-lg btn-primary paddiing-left" [disabled]="f.form.invalid"
				type="submit">Sign up</button>
			<button class="btn btn-link" routerLink="/login">Sign in</button>
		</div>
	</form>
</div>